/* General setup */

@font-face {
  font-family: "broncoregular";
  src:
    url("bronco/broncopersonaluse-webfont.woff") format("woff"),
    url("bronco/broncopersonaluse-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "tommyregular";
  src:
    url("tommy/made_tommy_regular_personal_use-webfont.woff") format("woff"),
    url("tommy/made_tommy_regular_personal_use-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: "tommyregular", serif;
  font-size: 10px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h1, h2 {
  font-family: "broncoregular", serif;
}